
@import "tailwindcss";
@plugin "daisyui";


@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-[#975af4] to-[#78aafa] bg-clip-text text-transparent font-bold;
  }
}



.button {
  background: linear-gradient(4deg ,#975af4, #2f7cf8 40%, #78aafa 75%, #934cff 100%) ;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  transition: all 03s, ease-in-out;
  cursor: pointer;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.6);
}
.button:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #fff;
  transform: scale(1.03);
}
.button:active {
  transform: scale(1);
}

