@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Noto+Serif+JP:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark
};

@custom-variant dark (&:where([data-theme=dark], [dark-theme=dark] *));

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-[#975af4] to-[#78aafa] bg-clip-text text-transparent font-bold;
  }
}
body {
  font-family: "Lexend", sans-serif;
}


.button {
  background: linear-gradient(4deg ,#975af4, #2f7cf8 40%, #78aafa 75%, #934cff 100%) ;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  transition: all 03s, ease-in-out;
  cursor: pointer;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.6);
}
.button:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #fff;
  transform: scale(1.03);
}
.button:active {
  transform: scale(1);
}


@keyframes ping-slow {
  0%, 100% {
    transform: scale(1);
    opacity: 1
  }
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-ping-slow {
  animation: ping-slow 2s cubic-bezier(3,6,3,2,1) infinite;
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}


